.app {
  height: 100vh;
  display: block;
}
.app-sidebar {
  width: 260px;
  height: 100%;
  background-color: black;
  display: inline-block;
  float: left;
  position: fixed;
}
.app-layout {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100%;
  display: inline-block;
  background-color: #eee;
  float: left;
}

.app-layout-board {
  overflow-y: auto;
  z-index: 1;
  padding-bottom: 20px;
}

.app-layout-footer {
  height: 70px;
  position: fixed;
  margin-bottom: 0;
}

.app-layout-header {
  height: 80px;
  position: relative;

}
