.sidebar {
  /*background-color: black;*/
  /*height: 100vh;*/

}

.logo{

  height: 80px;
  z-index: 2;

}

.logo:after {
  content: "";
  position: absolute;
  top: 0;
  margin-top: 62px;
  height: 1px;
  right: 15px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, 0.3)
}

.logo-image{
  padding-top: 20px;
  padding-left: 10px;
  width: 200px;
  margin: 0 auto;
}

.sidebar-background-image {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}