.sign-page {
  display: table;
  width: 800px;
  height: 80%;
  margin: 0 auto;
  padding-top: 70px;
}

.sign-page-login {
  display: table-cell;
  width: 399px;
}

.sign-page-separator {
  display: table-cell;
  width: 2px;
  background-color: rgba(180, 180, 180, 0.3);
}

.sign-page-register {
  display: table-cell;
  width: 399px;
}
