.login-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.login-page h2 {
  color: #00acc1;
}

.login-page button {
  background-color: #00acc1;
}

.login-button {
  padding-bottom: 30px;
  padding-top: 20px;
}
