.desk-table {
  display: table;
  white-space: nowrap;
  margin: 0 auto;
  min-width: 50%;
}

.desk-add-form {
  padding: 1em;
  float: right;
}

.desk-table-clear {
  clear: both
}
.cell-owner-select{
  width: 200px;
  display:inline-block;
  overflow:hidden;
}

.cell-manage-buttons {
  width: 200px;
  display:inline-block;
  overflow:hidden;
}
.request-page-row-buttons {
  display:inline-block;
}



